footer {
  padding-block: 24px;display: flex;
  justify-content: space-between;
  align-items: center;
  font: 14px/150% var(--font-family);
}


footer ul {
  list-style: none;
  display: flex;
  gap: 16px;
}